.ui-icon {
    display: inline-block;
    align-self: center;
    flex-shrink: 0;
    pointer-events: none;
    user-select: none;

    &_size_xxs {
        width: 12px;
        height: 12px;
    }

    &_size_xs {
        width: 16px;
        height: 16px;
    }

    &_size_s {
        width: 20px;
        height: 20px;
    }

    &_size_m {
        width: 24px;
        height: 24px;
    }

    &_size_l {
        width: 30px;
        height: 30px;
    }

    &_size_xl {
        width: 32px;
        height: 32px;
    }

    &_size_xxl {
        width: 50px;
        height: 50px;
    }

    &_size_huge {
        width: 100px;
        height: 100px;
    }

    &_size_main {
        width: 150px;
        height: 150px;
    }

    &_size_inherit {
        width: inherit;
        height: inherit;
    }
}
