@import '../../static/config.scss';

.olob-auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #0B0B15;

  &__header {
    width: 40%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 30px 20px;
  }

  &__header-icon {
    align-self: center;
    width: 40px;
    height: 40px;

    &_main {
      width: 60px;
      height: 60px;
    }
  }


  &__content {
    display: flex;
    width: 100%;
    height: 600px;
    align-self: center;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
  }

  &__content-left {
    background-color: #36363e;
    width: 25%;
    //min-width: 300px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__content-center {
    //position: relative;
    background-color: #36363e;
    width: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;

    &_game {
      background-color: inherit;
    }
  }

  &__center-data {
    align-self: center;
    position: relative;
    display: block;
    width: 100%;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }


  &__content-right {
    background-color: #36363e;
    width: 25%;
    //min-width: 300px;
  }

  &__game {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
  }
}
