.olob-auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  background: #780206;
  background: -webkit-linear-gradient(bottom right, #780206, #071161);
  background: -moz-linear-gradient(bottom right, #780206, #071161);
  background: linear-gradient(bottom right, #780206, #071161);

  &__header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);

    &_login {
      display: flex;
      font-size: 24px;
      justify-content: center;
      align-items: center;
      width: 200px;
    }
  }

  &__signout-btn {
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: 100px;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }
  &__container {
    display: flex;
  }

  &__button_play {
    height: 200px;
  }

}
