@import '../../static/config.scss';

$main-padding: 130px;
$main-width: 1300px;

.olob-auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #0B0B15;

  &__crutch {
    height: 64px;
    width: 100%;
    background-color: #0B0B15;
    flex-shrink: 0;
  }

  &__header {
    width: 100%;
    min-width: $main-width;
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding-left: $main-padding;
    padding-right: $main-padding;
  }

  &__header-icon {
    align-self: center;
    width: 40px;
    height: 40px;

    &_main {
      width: 60px;
      height: 60px;
    }
  }


  &__content {
    display: flex;
    width: 100%;
    min-height: 520px;
    height: 65%;
    min-width: $main-width;
    align-self: center;
    justify-content: space-between;
    padding-left: $main-padding;
    padding-right: $main-padding;
  }

  &__content-left {
    width: 300px;
    max-width: 300px;
    margin-right: 15px;
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__content-center {
    width: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
  }

  &__center-data {
    background-color: #36363e;
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_game {
      background-color: inherit;
    }
  }


  &__content-right {
    width: 350px;
    max-width: 350px;
    //min-width: 300px;
  }

  &__game {
    //position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    //&:after {
    //  content: "";
    //  display: inline-block;
    //  padding-bottom: 100%;
    //}
  }

  &__footer {
    width: 100%;
    min-width: $main-width;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding-left: $main-padding;
    padding-right: $main-padding;
  }
}
