.olob-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../static/images/chessboard.jpg');
    background-size: cover;
    filter: blur(5px), brightness(50%);
    background-repeat: no-repeat;

    &__container {
        width: 300px;
        box-sizing: border-box;
        display: flex;
        padding: 20px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.5)
    }

    &__forms {
        width: 300px;
    }
}
