.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  &__header {
    width: 100%;
    //margin-top: 5px;
  }

  &__data {
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;

  }

  &__play-button {
    min-width: 192px;
    margin: 0;
  }
}
