.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  &__header {
    width: 100%;
    //margin-top: 5px;
  }

  &__data {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__button-container {
    height: 100%;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
  }

  &__play-button {
    min-width: 192px;
    // margin: 0;
  }
}
