@import "../../static/config";

#root .ui-form {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    align-self: center;
    width: 80%;
    max-width: border-box;
    height: 35px;
    margin: 9px 0;
    font-size: 15px;
    font-family: $font-family;
    font-weight: lighter;
    padding-left: 8px;
  }

  &__button {
    align-self: center;
    margin-top: 20px;
    min-width: 50%;
    font-size: 17px;
    font-family: $font-family;
    font-weight: lighter;
    background-color: inherit;
    color: white;
    border: white solid 1px;
    border-radius: 4px;
  }

  &__link {
    align-self: center;
    margin-top: 20px;
    font-family: $font-family;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
  }
}
