@import "../../static/config";

#root .ui-form {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    align-self: center;
    width: 80%;
    max-width: border-box;
    height: 35px;
    margin: 9px 0;
    font-size: 15px;
    font-family: $font-family;
    font-weight: lighter;
    padding-left: 8px;
  }

  &__button {
    align-self: center;
    margin-top: 20px;
    min-width: 50%;
  }

  &__link {
    align-self: center;
    margin-top: 20px;
    font-family: $font-family;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    color: #5493E3;
    cursor: pointer;
  }
}
